h1 {
    background-color: red;
}

/* styling the header */
header {
    background-color: #666666;
    padding: 12px;
    text-align: center;
    color: white;
    font-size: 20px;
}

nav ul {
    list-style: none;
    padding: 10px;
}

